{
  "root": true,
  "extends": [
    "@upstatement/eslint-config/react"
  ],
  "parser": "babel-eslint", // Add this line
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  }
}
